body {
  margin: 0;
  padding: 0;
  font-family: 'Spectral', serif;
}

.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header'
	'middle middle middle middle middle middle'
    'footer footer footer footer footer footer';
        
}

.header {
  display: grid;
  grid-area: header;
  grid-template-areas: 
    'logo logo nav nav nav nav'
    'click click click click click click';
  background-color: #2eb2ff;
  box-shadow: 0 8px 6px -6px black;
}


.logo {
  grid-area: logo;
  padding-left: 10px;
}

.logo img {
  height: 80px;
}
.topnav {
  grid-area: nav;
  overflow: hidden;
  margin-left: auto;
  margin-right: 0;
  background-color: #2eb2ff;
}

.topnav a {

  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #00A1FF;
  border-radius: 5px;
  color: white;
}

.topnav a.active {
  background-color: #00A1FF;
  border-radius: 5px;
  color: white;
}

.topnav .icon {
  display: none;
}



/* Style the middle row */
.middle {
  border-left-style: solid;
  border-left-color:  #48AFF3;
  grid-area: middle;
  text-align: justify;
  padding: 20px;
  padding-left : 0px;
  word-wrap: break-word;
  height: auto;
  grid-row-gap: 20px;
  display: grid;
  background-image: url(../images/cubes.png);
  box-shadow: 0 8px 6px -6px black;
}

.middle h1,
.middle h2 {
	margin : 0;
}
.about {
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	border-left-width: 15px;
	border-color: #2eb2ff;
	color: white;
	background-color: #51585b;
	border-style: solid;
	border-right-width: 5px;
	max-width: 200px;
	max-height: 100px;
}

.whatisbca, 
.eligibility,
.admission,
.fee,
.job,
.syllabus {
	margin-right: auto;
	padding: 10px;
	border-left-width: 15px;
	border-color: #2eb2ff;
	color: white;
	background-color: #51585b;
	border-style: solid;
	border-right-width: 5px;
	max-width: 200px;
	max-height: 100px;
}

p {
	padding : 10px;
	padding-bottom : 0px;
	margin : 0px;
}

ul {
	padding-left : 40px;
}

li {
	padding-right : 20px;
}

/* Style the footer */
.footer {
  grid-area: footer;
  display: grid;
  grid-template-areas: 
    'loc loc con con cpr cpr';
  padding-top: 20px;
  color: white;
  background-color: #51585b;
  height: 100%;
  margin-top : 30px;
  box-shadow: 0px 0 5px rgba(0, 0, 0, 0.8);
}

.footer a {
  color: white;
  text-decoration: none;
}
.location,
.links,
.copyright {
  text-align: justify;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-left: 15px;
  margin-right: auto;
}

.location {
  grid-area: loc;
}
.links {
  grid-area: con;
}

.copyright {
  grid-area: cpr;
  
}

.links button {
  background-color: #51585b;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.links button:hover {
  background-color: #444646;
  font-size: large;
  transition : 0.3s;
  
}



@media (max-width: 600px) {
  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media (max-width: 600px) {
  .topnav.responsive {
    grid-area: click;
    width: 100%;
    display: inline-flex;
  }
  
  .topnav.responsive .icon {
    position: absolute;
    right: 10px;
    top: 20px;
  }
  .topnav.responsive a {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }
}
@media (max-width: 600px) {
  .footer  {
    grid-template-areas: 
      'loc loc loc loc loc loc'
      'con con con con con con'
      'cpr cpr cpr cpr cpr cpr'; 
  }

  .location,
  .links,
  .copyright {

    margin-left: 10px;

  }
}