<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ContactDevelopers</servlet-name>
  	<display-name>ContactDevelopers</display-name>
  	<description></description>
  	<servlet-class>com.database.ContactDevelopers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.database.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.database.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>com.database.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContactTeachers</servlet-name>
  	<display-name>ContactTeachers</display-name>
  	<description></description>
  	<servlet-class>com.database.ContactTeachers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContactStudents</servlet-name>
  	<display-name>ContactStudents</display-name>
  	<description></description>
  	<servlet-class>com.database.ContactStudents</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddMcqs</servlet-name>
  	<display-name>AddMcqs</display-name>
  	<description></description>
  	<servlet-class>com.database.AddMcqs</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditMcqs</servlet-name>
  	<display-name>EditMcqs</display-name>
  	<description></description>
  	<servlet-class>com.database.EditMcqs</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteMcqs</servlet-name>
  	<display-name>DeleteMcqs</display-name>
  	<description></description>
  	<servlet-class>com.database.DeleteMcqs</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Mcqs</servlet-name>
  	<display-name>Mcqs</display-name>
  	<description></description>
  	<servlet-class>com.database.Mcqs</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>McqScore</servlet-name>
  	<display-name>McqScore</display-name>
  	<description></description>
  	<servlet-class>com.database.McqScore</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangeEmail</servlet-name>
  	<display-name>ChangeEmail</display-name>
  	<description></description>
  	<servlet-class>com.database.ChangeEmail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangePassword</servlet-name>
  	<display-name>ChangePassword</display-name>
  	<description></description>
  	<servlet-class>com.database.ChangePassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AskQuestion</servlet-name>
  	<display-name>AskQuestion</display-name>
  	<description></description>
  	<servlet-class>com.database.AskQuestion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Comment</servlet-name>
  	<display-name>Comment</display-name>
  	<description></description>
  	<servlet-class>com.database.Comment</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ContactDevelopers</servlet-name>
  	<url-pattern>/ContactDevelopers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactTeachers</servlet-name>
  	<url-pattern>/ContactTeachers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactStudents</servlet-name>
  	<url-pattern>/ContactStudents</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddMcqs</servlet-name>
  	<url-pattern>/AddMcqs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditMcqs</servlet-name>
  	<url-pattern>/EditMcqs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteMcqs</servlet-name>
  	<url-pattern>/DeleteMcqs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Mcqs</servlet-name>
  	<url-pattern>/Mcqs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>McqScore</servlet-name>
  	<url-pattern>/McqScore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangeEmail</servlet-name>
  	<url-pattern>/ChangeEmail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangePassword</servlet-name>
  	<url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AskQuestion</servlet-name>
  	<url-pattern>/AskQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Comment</servlet-name>
  	<url-pattern>/Comment</url-pattern>
  </servlet-mapping>
</web-app>
